DB_POOL_MAX=20
DB_POOL_MIN=2
DB_URL=jdbc:postgresql://postgres:5432/payment_db
DB_USERNAME=payment_app
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
MANAGEMENT_OTLP_TRACING_ENDPOINT=http://lgtm:4318/v1/traces
PAYMENT_RESULT_URL=http://localhost:4200/payment/result
PAYMENT_SIMULATOR_URL=http://be-payment-simulator:8080
SERVER_PORT=8080
TRACING_SAMPLING=1.0
