DB_POOL_MAX=REPLACE_ME_DEV
DB_POOL_MIN=REPLACE_ME_DEV
DB_URL=REPLACE_ME_DEV
DB_USERNAME=REPLACE_ME_DEV
KAFKA_BOOTSTRAP_SERVERS=REPLACE_ME_DEV
KEYCLOAK_ISSUER_URI=REPLACE_ME_DEV
MANAGEMENT_OTLP_TRACING_ENDPOINT=REPLACE_ME_DEV
MEDIA_BASE_URL=REPLACE_ME_DEV
REDIS_HOST=REPLACE_ME_DEV
REDIS_PORT=REPLACE_ME_DEV
SERVER_PORT=REPLACE_ME_DEV
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=REPLACE_ME_DEV
TRACING_SAMPLING=REPLACE_ME_DEV
