DB_POOL_MAX=REPLACE_ME_STAGING
DB_POOL_MIN=REPLACE_ME_STAGING
DB_URL=REPLACE_ME_STAGING
DB_USERNAME=REPLACE_ME_STAGING
KAFKA_BOOTSTRAP_SERVERS=REPLACE_ME_STAGING
KEYCLOAK_ISSUER_URI=REPLACE_ME_STAGING
KEYCLOAK_TOKEN_URI=REPLACE_ME_STAGING
MANAGEMENT_OTLP_TRACING_ENDPOINT=REPLACE_ME_STAGING
ORDER_BASE_URL=REPLACE_ME_STAGING
SERVER_PORT=REPLACE_ME_STAGING
SERVICE_CLIENT_ID=be-settlement-worker
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=REPLACE_ME_STAGING
TRACING_SAMPLING=REPLACE_ME_STAGING
