KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KEYCLOAK_ISSUER_URI=http://keycloak:8080/realms/marketplace
MANAGEMENT_OTLP_TRACING_ENDPOINT=http://lgtm:4318/v1/traces
MONGODB_URI=mongodb://mongo:27017/comment_db?replicaSet=rs0
SERVER_PORT=8080
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/marketplace/protocol/openid-connect/certs
TRACING_SAMPLING=1.0
