CATALOG_BASE_URL=http://be-catalog-api:8080
DB_POOL_MAX=20
DB_POOL_MIN=2
DB_URL=jdbc:mysql://mysql:3306/review_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=review_user
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KEYCLOAK_ISSUER_URI=http://keycloak:8080/realms/marketplace
KEYCLOAK_TOKEN_URI=http://keycloak:8080/realms/marketplace/protocol/openid-connect/token
MANAGEMENT_OTLP_TRACING_ENDPOINT=http://lgtm:4318/v1/traces
ORDER_BASE_URL=http://be-order-api:8080
SERVER_PORT=8080
SERVICE_CLIENT_ID=be-review-worker
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/marketplace/protocol/openid-connect/certs
TRACING_SAMPLING=1.0
