AUTHORIZATION_BASE_URL=http://be-authorization-api:8080
DB_POOL_MAX=20
DB_POOL_MIN=2
DB_URL=jdbc:postgresql://postgres:5432/return_db
DB_USERNAME=return_user
INVENTORY_BASE_URL=http://be-inventory-api:8080
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KEYCLOAK_ISSUER_URI=http://keycloak:8080/realms/marketplace
KEYCLOAK_TOKEN_URI=http://keycloak:8080/realms/marketplace/protocol/openid-connect/token
MANAGEMENT_OTLP_TRACING_ENDPOINT=http://lgtm:4318/v1/traces
ORDER_BASE_URL=http://be-order-api:8080
PAYMENT_BASE_URL=http://be-payment-api:8080
SERVER_PORT=8080
SERVICE_CLIENT_ID=be-return-api
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://keycloak:8080/realms/marketplace/protocol/openid-connect/certs
TRACING_SAMPLING=1.0
