AUTHORIZATION_BASE_URL=REPLACE_ME_PROD
DB_POOL_MAX=REPLACE_ME_PROD
DB_POOL_MIN=REPLACE_ME_PROD
DB_URL=REPLACE_ME_PROD
DB_USERNAME=REPLACE_ME_PROD
INVENTORY_BASE_URL=REPLACE_ME_PROD
KAFKA_BOOTSTRAP_SERVERS=REPLACE_ME_PROD
KEYCLOAK_ISSUER_URI=REPLACE_ME_PROD
KEYCLOAK_TOKEN_URI=REPLACE_ME_PROD
MANAGEMENT_OTLP_TRACING_ENDPOINT=REPLACE_ME_PROD
ORDER_BASE_URL=REPLACE_ME_PROD
PAYMENT_BASE_URL=REPLACE_ME_PROD
SERVER_PORT=REPLACE_ME_PROD
SERVICE_CLIENT_ID=be-return-api
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=REPLACE_ME_PROD
TRACING_SAMPLING=REPLACE_ME_PROD
