AUTHORIZATION_BASE_URL=REPLACE_ME_STAGING
CHECKOUT_BULKHEAD_MAX_CALLS=REPLACE_ME_STAGING
CHECKOUT_BULKHEAD_MAX_WAIT=REPLACE_ME_STAGING
CHECKOUT_CB_FAILURE_RATE=REPLACE_ME_STAGING
CHECKOUT_CB_HALF_OPEN_CALLS=REPLACE_ME_STAGING
CHECKOUT_CB_MIN_CALLS=REPLACE_ME_STAGING
CHECKOUT_CB_OPEN_WAIT=REPLACE_ME_STAGING
CHECKOUT_CB_WINDOW=REPLACE_ME_STAGING
DB_POOL_MAX=REPLACE_ME_STAGING
DB_POOL_MIN=REPLACE_ME_STAGING
DB_URL=REPLACE_ME_STAGING
DB_USERNAME=REPLACE_ME_STAGING
INVENTORY_BASE_URL=REPLACE_ME_STAGING
KAFKA_BOOTSTRAP_SERVERS=REPLACE_ME_STAGING
KEYCLOAK_ISSUER_URI=REPLACE_ME_STAGING
KEYCLOAK_TOKEN_URI=REPLACE_ME_STAGING
MANAGEMENT_OTLP_TRACING_ENDPOINT=REPLACE_ME_STAGING
ORDER_BASE_URL=REPLACE_ME_STAGING
PAYMENT_BASE_URL=REPLACE_ME_STAGING
PRICING_BASE_URL=REPLACE_ME_STAGING
PROMOTION_BASE_URL=REPLACE_ME_STAGING
SERVER_PORT=REPLACE_ME_STAGING
SERVICE_CLIENT_ID=be-checkout-api
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=REPLACE_ME_STAGING
TRACING_SAMPLING=REPLACE_ME_STAGING
