KAFKA_BOOTSTRAP_SERVERS=REPLACE_ME_STAGING
KEYCLOAK_ISSUER_URI=REPLACE_ME_STAGING
MANAGEMENT_OTLP_TRACING_ENDPOINT=REPLACE_ME_STAGING
OPENSEARCH_PRODUCT_INDEX=REPLACE_ME_STAGING
OPENSEARCH_URL=REPLACE_ME_STAGING
REVIEW_API_URL=REPLACE_ME_STAGING
SERVER_PORT=REPLACE_ME_STAGING
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=REPLACE_ME_STAGING
TRACING_SAMPLING=REPLACE_ME_STAGING
