AUDIT_BASE_URL=REPLACE_ME_PROD
AUTHORIZATION_BASE_URL=REPLACE_ME_PROD
CART_BASE_URL=REPLACE_ME_PROD
CATALOG_BASE_URL=REPLACE_ME_PROD
CHECKOUT_BASE_URL=REPLACE_ME_PROD
COMMENT_BASE_URL=REPLACE_ME_PROD
FULFILLMENT_BASE_URL=REPLACE_ME_PROD
INVENTORY_BASE_URL=REPLACE_ME_PROD
KAFKA_BOOTSTRAP_SERVERS=REPLACE_ME_PROD
KEYCLOAK_ISSUER_URI=REPLACE_ME_PROD
KEYCLOAK_TOKEN_URI=REPLACE_ME_PROD
MANAGEMENT_OTLP_TRACING_ENDPOINT=REPLACE_ME_PROD
MEDIA_BASE_URL=REPLACE_ME_PROD
NOTIFICATION_BASE_URL=REPLACE_ME_PROD
NOTIFICATION_REALTIME_BASE_URL=REPLACE_ME_PROD
OPERATIONS_BASE_URL=REPLACE_ME_PROD
ORDER_BASE_URL=REPLACE_ME_PROD
PAYMENT_BASE_URL=REPLACE_ME_PROD
PRICING_BASE_URL=REPLACE_ME_PROD
PROMOTION_BASE_URL=REPLACE_ME_PROD
RETURN_BASE_URL=REPLACE_ME_PROD
REVIEW_BASE_URL=REPLACE_ME_PROD
SEARCH_BASE_URL=REPLACE_ME_PROD
SELLER_BASE_URL=REPLACE_ME_PROD
SERVER_PORT=REPLACE_ME_PROD
SERVICE_CLIENT_ID=be-gateway
SETTLEMENT_BASE_URL=REPLACE_ME_PROD
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=REPLACE_ME_PROD
TRACING_SAMPLING=REPLACE_ME_PROD
