AUDIT_BASE_URL=REPLACE_ME_STAGING
AUTHORIZATION_BASE_URL=REPLACE_ME_STAGING
CART_BASE_URL=REPLACE_ME_STAGING
CATALOG_BASE_URL=REPLACE_ME_STAGING
CHECKOUT_BASE_URL=REPLACE_ME_STAGING
COMMENT_BASE_URL=REPLACE_ME_STAGING
FULFILLMENT_BASE_URL=REPLACE_ME_STAGING
INVENTORY_BASE_URL=REPLACE_ME_STAGING
KAFKA_BOOTSTRAP_SERVERS=REPLACE_ME_STAGING
KEYCLOAK_ISSUER_URI=REPLACE_ME_STAGING
KEYCLOAK_TOKEN_URI=REPLACE_ME_STAGING
MANAGEMENT_OTLP_TRACING_ENDPOINT=REPLACE_ME_STAGING
MEDIA_BASE_URL=REPLACE_ME_STAGING
NOTIFICATION_BASE_URL=REPLACE_ME_STAGING
NOTIFICATION_REALTIME_BASE_URL=REPLACE_ME_STAGING
OPERATIONS_BASE_URL=REPLACE_ME_STAGING
ORDER_BASE_URL=REPLACE_ME_STAGING
PAYMENT_BASE_URL=REPLACE_ME_STAGING
PRICING_BASE_URL=REPLACE_ME_STAGING
PROMOTION_BASE_URL=REPLACE_ME_STAGING
RETURN_BASE_URL=REPLACE_ME_STAGING
REVIEW_BASE_URL=REPLACE_ME_STAGING
SEARCH_BASE_URL=REPLACE_ME_STAGING
SELLER_BASE_URL=REPLACE_ME_STAGING
SERVER_PORT=REPLACE_ME_STAGING
SERVICE_CLIENT_ID=be-gateway
SETTLEMENT_BASE_URL=REPLACE_ME_STAGING
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=REPLACE_ME_STAGING
TRACING_SAMPLING=REPLACE_ME_STAGING
